# Please copy this file to .env and fill in the values for your environment.

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=db
DATABASE_URL=postgresql://user:password@localhost:5432/db?schema=public